#include <windows.h>

1 ICON "../resources/app.ico"
101 ICON "../resources/app.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,3,4,0
PRODUCTVERSION  1,3,4,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "tenzo"
            VALUE "FileDescription",  "Motion CLI - Terminal Setup & Installer"
            VALUE "FileVersion",      "1.3.4.0"
            VALUE "InternalName",     "MotionCLI-Installer"
            VALUE "LegalCopyright",   "Copyright (C) 2026 tenzo"
            VALUE "OriginalFilename", "MotionCLI-Installer.exe"
            VALUE "ProductName",      "Motion CLI"
            VALUE "ProductVersion",   "1.3.4"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
